.gallery-preview__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gallery-preview__image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  margin: -4px;

  filter: grayscale(100%) blur(4px);
  /* TODO: get rid of flickering blur on borders */
  transition: filter 200ms ease-in-out;
  transform: scale(1.02);
}

.gallery-preview__image:hover {
  filter: grayscale(0) blur(0);
}
