@use '../../styles/core' as core;
@use '../../styles/typography' as typography;
@use '../../styles/color' as color;

.hero {
  display: flex;
  max-height: core.$space * 52;
  margin: core.$space * 3 core.$space * 6;
  padding: core.$space * 4 core.$space * 4 core.$space * 4 core.$space * 9;
  box-shadow: 0 0 core.$space * 2 0 rgba(color.$white, .1);
  border-radius: core.$space * 2;

  .infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: core.$space * 9;

    .title {
      @include typography.heading1();
    }

    .subtitle {
      @include typography.heading2();
    }
  }

  .imageSection {
    width: 50%;
    display: flex;

    img {
      max-width: 100%;
      object-fit: contain;
      border-radius: core.$space * 2;
    }
  }
}