$primary-black: #1d1d1b;

$dark-grey-1: #2d2d2b;
$dark-grey-2: #4a4a48;
$dark-grey-3: #61615f;

$light-grey-1: #afada3;
$light-grey-2: #e2e1d9;
$light-grey-3: #f2f2f2;

$white: #fff;
$text-color: $white;