@font-face {
  font-display: swap;
  font-family: NewTransport;
  font-weight: normal;
  src: url('../assets/fonts/NewTransport-Regular.woff2') format('woff2'),
    url('../assets/fonts/NewTransport-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: NewTransport;
  font-weight: 600;
  src: url('../assets/fonts/NewTransport-Semibold.woff2') format('woff2'),
    url('../assets/fonts/NewTransport-Semibold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: NewTransportSemi;
  font-weight: normal;
  src: url('../assets/fonts/NewTransport-Semibold.woff2') format('woff2'),
    url('../assets/fonts/NewTransport-Semibold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: NewTransport;
  font-weight: bold;
  src: url('../assets/fonts/NewTransport-Bold.woff2') format('woff2'),
    url('../assets/fonts/NewTransport-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'UK Number Plate';
  font-weight: normal;
  src: url('../assets/fonts/UKNumberPlate.woff2') format('woff2'),
    url('../assets/fonts/UKNumberPlate.woff') format('woff');
}
