@use '../../styles/core' as core;
@use '../../styles/color' as color;

$clearIconSize: core.$space * 2;

.search {
  display: flex;
  justify-self: center;

  .wrapper {
    position: relative;
    width: 266px;

    .input {
      height: 20px;
      border: 1px solid color.$white;
      border-radius: core.$space;
      background-color: transparent;
      width: 100%;
      padding: core.$space;
    }
  
    .clear {
      cursor: pointer;
      height: $clearIconSize;
      width: $clearIconSize;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);  
  
      svg {
        display: block;
        height: 100%;
        width:100%;
      }
    }
  }
}