.gallery-view-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
}

.gallery-view-image-section {
  display: flex;
  justify-content: center;
  height: 75%;
  width: 100%;
}

.gallery-view-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.gallery-view-nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 0.5rem;
}

.gallery-view-close-button {
  display: flex;
  justify-content: center;
}