/* .gallery {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  perspective: 1000px;
}

.gallery > div {}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__row + .gallery__row {
  margin-top: 50px;
}

.gallery__row__image {
  text-align: center;
}

.gallery-display .postcard {
  transform: none !important;
}

.gallery-display .postcard-transition {
  z-index: 1;
  transition: all 0.2s;
}

.postcard {
  transform-style: preserve-3d;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 2.3px 70.9px rgba(0, 0, 0, 0.072), 0 6.8px 15.4px rgba(0, 0, 0, 0.01);
  overflow: hidden;
  margin: auto;
  transition: all 0.6s;
  position: relative;
  font-size: 18px;
  font-family: "Shadows Into Light", cursive;
  border-radius: 4px;
}

.postcard__front {
  background-color: floralwhite;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin: -50vh -50vw -50vh -50vw;
  background-color: black;
  opacity: 0.5;
} */
